:root {
  --font-family-1: "Open Sans", sans-serif;
  --font-family-2: "Raleway", sans-serif;

  --text-color: #707070;
  --text-color-light: #969696;

  --hue-1: 28;
  --sat-1: 100%;
  --lgt-1: 57%;

  --hue-2: 0;
  --sat-2: 0%;
  --lgt-2: 20%;
}

html,
body {
  font-family: var(--font-family-1);
}

#__wrapper__ {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hidden {
  width: 0 !important;
  overflow: hidden !important;
}
