.playlist {
  background: #fff;
  color: var(--text-color);
  flex: 1;
  font-size: 1rem;
  margin: 0;
  overflow: auto;
  padding: 0;
  z-index: var(--playlist-z);
}

.playlist-item {
  display: flex;
  height: var(--playlist-item-size);
  /* transition: background .2s ease; */
}

.playlist-item svg {
  fill: hsl(var(--hue-1), var(--sat-1), var(--lgt-1));
}

/* .playlist-item + .playlist-item {
  border-top: 1px solid #eee;
} */

.playlist-item:not(.playlist-item--current):hover {
  background: var(--playlist-current-color);
}

.playlist-item-track {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  width: var(--playlist-item-size);
}

.playlist-item-track img {
  border-radius: calc(var(--playlist-item-img-size) / 2);
  opacity: 0.25;
  position: absolute;
  height: var(--playlist-item-img-size);
  width: var(--playlist-item-img-size);
}

.playlist-item-icon {
  border-bottom: calc(var(--playlist-item-icon-size) / 2) solid transparent;
  border-left: calc(var(--playlist-item-icon-size) / 2 + 3px) solid #555;
  border-top: calc(var(--playlist-item-icon-size) / 2) solid transparent;
  display: inline-block;
  height: 0;
  width: 0;
}

.playlist-item-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding: 0.5em 0.75em 0.5em 0;
}

.playlist-item-title {
  font-weight: bold;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playlist-item-desc {
  --playlist-item-desc-lines: 2;
  --playlist-item-desc-line-height: 1.1;
  -webkit-line-clamp: var(--playlist-item-desc-lines);
  -webkit-box-orient: vertical;
  display: -webkit-box;
  flex-direction: column;
  font-family: var(--font-family-2);
  font-size: 1em;
  line-height: var(--playlist-item-desc-line-height);
  max-height: calc(1em * var(--playlist-item-desc-line-height) * var(--playlist-item-desc-lines));
  margin: 5px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist-item-eq {
  display: none;
}

.playlist-item.is-active {
  background: hsl(0, 0%, 85%);
}

.playlist-item.is-active svg {
  fill: var(--playlist-current-color);
}

.playlist-item.is-active .playlist-item-eq {
  display: block;
}

.playlist-item.is-active .playlist-item-icon {
  display: none;
}


/* === Equalizer === */

.eq {
  align-items: flex-end;
  display: flex;
  height: var(--playlist-item-icon-size);
  justify-content: space-between;
  margin: 0 auto;
  width: var(--playlist-item-icon-size);
}

.eq-bar {
  background: var(--playlist-current-color);
  border: 1px solid hsl(0, 0%, 50%);
  filter: drop-shadow(0 0 5px var(--playlist-current-color));
  width: 4px;
}

.eq-bar:nth-child(1) {
  animation: eq .8s ease-in-out infinite 0s;
}

.eq-bar:nth-child(2) {
  animation: eq .8s ease-in-out infinite .2s;
}

.eq-bar:nth-child(3) {
  animation: eq .8s ease-in-out infinite .4s;
}

@keyframes eq {
  0% { height: 3px; }
  50% { height: var(--playlist-item-icon-size); }
  100% { height: 3px; }
}
