/* === Audio Player === */

.player {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-1);
  font-size: 1rem;
  user-select: none;
}

.player-inner {
  background: hsl(var(--hue-1), var(--sat-1), var(--lgt-1));
  display: flex;
  height: var(--player-size);
  position: relative;
}

.player-playback {
  display: flex;
  position: relative;
}

.player-img {
  position: absolute;
  height: var(--player-size);
  width: var(--player-size);
  top: 0;
  right: 0;
  z-index: 0;
  opacity: 0.3;
}

/* === Controls === */

.player button,
.player-controls {
  align-items: center;
  background: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  display: flex;
  height: var(--player-size);
  justify-content: center;
  margin: 0;
  outline: 0;
  padding: 0;
  position: relative;
  width: var(--player-size);
}

.player button:active,
.player-controls:hover {
  background: rgba(0, 0, 0, 0.1);
}

.player button:hover,
.player-controls:hover {
  opacity: 1;
}

.player-controls--toggle {
  z-index: var(--player-z);
}

.player-controls svg {
  fill: white;
}

.player svg > path,
.player-controls,
.player-info {
  transition: all var(--ms) ease;
}

/* === Track === */

.player-info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.player-info-title {
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 8px);
  white-space: nowrap;
}

.player-info-time {
  font-size: 0.7em;
  margin-left: 8px;
}

/* === Controls === */

.player-settings {
  display: flex;
}

/* === Volume === */

.volume-btn {
  display: block;
  text-align: center;
  width: 100%;
}

.volume {
  position: absolute;
  left: 50%;
  bottom: calc(var(--player-size) - 5px);
  width: 40px;
  margin-left: -20px;
  height: 120px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s cubic-bezier(0.17, 0.72, 0.26, 1.23);
  background: hsl(var(--hue-1), var(--sat-1), var(--lgt-1));
  border: 1px solid white;
  border-radius: 1px;
  z-index: var(--volume-z);
}

.volume::after,
.volume::before {
  content: "";
  position: absolute;
  bottom: -12px;
  border: 7px solid transparent;
  border-top: 7px solid hsl(var(--hue-1), var(--sat-1), var(--lgt-1));
  left: 50%;
  margin-left: -7px;
}

.volume::after {
  bottom: -14px;
  z-index: -1;
  border-top: 7px solid white;
}

.volume-container:hover .volume {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.volume-track {
  position: relative;
  display: block;
  width: 3px;
  height: 100px;
  margin: 10px auto;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.volume-bar {
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: 0;
  background: hsl(var(--hue-1), var(--sat-1), calc(var(--lgt-1) - 13%));
  height: 50%;
}

/* === Progress === */

.progress {
  background: hsl(var(--hue-1), var(--sat-1), 80%);
  cursor: pointer;
  height: var(--bar-size);
  position: relative;
}

.progress:hover .progress-bar:after {
  opacity: 1;
}

.progress-bar,
.progress-preload {
  height: var(--bar-size);
  position: absolute;
  width: 0;
}

.progress-bar {
  background: hsl(var(--hue-1), var(--sat-1), calc(var(--lgt-1) - 15%));
  z-index: var(--player-z);
}

.progress-bar:after {
  --progress-bar-size: 14px;
  --progress-bar-border-size: 2px;
  background: hsl(var(--hue-1), var(--sat-1), 95%);
  border: var(--progress-bar-border-size) solid hsl(var(--hue-1), var(--sat-1), calc(var(--lgt-1) - 15%));
  border-radius: calc((var(--progress-bar-size) + var(--progress-bar-border-size)) / 1.8);
  content: "";
  height: var(--progress-bar-size);
  margin-top: calc(var(--progress-bar-size) / -2 + 1px);
  opacity: 0;
  position: absolute;
  right: calc(var(--progress-bar-size) * -1);
  top: 0;
  transition: opacity .3s ease;
  width: var(--progress-bar-size);
}

.progress-bar.is-active:after {
  transform: scale(1.4);
}

.progress-preload {
  background: hsl(var(--hue-1), var(--sat-1), calc(var(--lgt-1) + 13%));
  z-index: 0;
}

/* === Animations === */

@keyframes fs {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
