.topbar {
  --topbar-height: 48px;

  align-items: center;
  background: hsl(var(--hue-2), var(--sat-2), var(--lgt-2));
  color: var(--text-color-light);
  display: flex;
  height: var(--topbar-height);
  font-size: 1rem;
  padding: 0 1em;
}

.topbar i {
  font-size: 1.5em;
}

.topbar-title {
  flex: 1;
  margin: 0 1em;
  text-align: center;
}
