.player__item--track {
  flex: 1 40%;
  padding: 0 20px;
}

.track {
  position: relative;
  width: 100%;
  align-self: flex-start;
  padding: 5px 0 0;
}

.track__title {
  position: absolute;
  width: 100%;
  overflow: hidden;
  padding-right: 80px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track__time {
  position: absolute;
  top: 5px;
  right: 0;
}

.progress-container {
  position: relative;
  padding: 7px 0;
  margin-top: 15px;
  overflow: hidden;
  cursor: pointer;
}

.progress-container:hover .progress__bar:after {
  opacity: 1;
}

.progress {
  height: var(--barSize);
  border-radius: var(--barSize);
  background: var(--barBG);
}

.progress__bar,
.progress__preload {
  position: absolute;
  width: 0;
  height: var(--barSize);
  border-radius: var(--barSize) 0 0 var(--barSize);
}

.progress__bar {
  background: var(--progressBG);
  z-index: 1;
}

.progress__bar:after {
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 10px;
  margin-top: -3px;
  content: "";
  border-radius: 6px;
  background: var(--primaryColor);
  opacity: 0;
  transition: opacity .3s ease;
}

.progress__bar--active:after {
  transform: scale(1.4);
}

.progress__preload {
  background: var(--barProgressBG);
  z-index: 0;
}
